
@{
    Layout = null;
    ViewBag.Title = "Event";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Gustos - Evenimente</title>
    <link rel="stylesheet" href="~/Content/styleevents.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>La Gustos - Evenimente</h1>
            <p>Descoperiți experiențe culinare unice pentru evenimentele dumneavoastră speciale.</p>
        </header>
        <main>
            <section class="events">
                <article class="event">
                    <img src="~/Images/Events/event1.jpg">
                    <h2>Evenimente Corporate</h2>
                    <p>Organizați evenimente corporate într-un cadru elegant și rafinat. Oferim meniuri personalizate și o selecție variată de vinuri.</p>
                </article>
                <article class="event">
                    <img src="~/Images/Events/event2.jpeg">
                    <h2>Petreceri Private</h2>
                    <p>Sărbătoriți momentele speciale cu familia și prietenii într-o atmosferă intimă și relaxantă. Vă oferim servicii de înaltă calitate și meniuri adaptate preferințelor dumneavoastră.</p>
                </article>
                <article class="event">
                    <img src="~/Images/Events/event3.jpg">
                    <h2>Zile de naștere</h2>
                    <p>Transformați ziua de naștere într-o experiență de neuitat La Gustos. Vă punem la dispoziție spații elegante și meniuri deosebite.</p>
                </article>
            </section>
        </main>
        <footer>
            <p>Contactați-ne pentru rezervări și informații suplimentare</p>
            <a href="" class="contact-button">Contacte</a>
        </footer>
    </div>
</body>
</html>