
@{
    Layout = null;
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/feedback.css" />
    <title>Web Design Mastery | Customer Section</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="container__left">
                <h1>Ce iubesc clienții noștri despre noi!</h1>
                <p class="intro-text">
                    Situat în inima orașului, restaurantul "La Gustos" vă invită să descoperiți o experiență culinară de neuitat. Meniul nostru variat, pregătit cu ingrediente proaspete și de cea mai bună calitate, satisface cele mai rafinate gusturi. De la preparate tradiționale reinterpretate cu un twist modern, la deserturi decadente și selecții de vinuri atent alese, fiecare masă la "La Gustos" este o adevărată sărbătoare pentru simțuri.
                </p>
                <p class="intro-text">
                    Vă așteptăm cu drag să ne treceți pragul și să descoperiți de ce "La Gustos" este destinația preferată a iubitorilor de bun gust. Venind la noi, veți trăi o poveste culinară aparte, într-un cadru rafinat și relaxant.
                </p>
                <button>Citește feedback-ul clienților noștri</button>
            </div>
            <div class="container__right">
                <div class="card">
                    <img src="~/Images/Feedback/pic1.jpg" alt="user" />
                    <div class="card__content">
                        <span><i class="ri-double-quotes-l"></i></span>
                        <div class="card__details">
                            <p>
                                Am avut o cină excelentă la "La Gustos". Personalul amabil și atmosfera plăcută fac din acest loc o alegere perfectă pentru o seară specială.
                            </p>
                            <h4>- Eduard C.</h4>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="~/Images/Feedback/pic2.jpeg" alt="user" />
                    <div class="card__content">
                        <span><i class="ri-double-quotes-l"></i></span>
                        <div class="card__details">
                            <p>
                                Serviciul prompt și ambianța relaxantă ne-au făcut să ne simțim foarte bine. Recomand!
                            </p>
                            <h4>- Mihai R.</h4>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="~/Images/Feedback/pic3.jpg" alt="user" />
                    <div class="card__content">
                        <span><i class="ri-double-quotes-l"></i></span>
                        <div class="card__details">
                            <p>
                                Am avut un prânz de afaceri la "La Gustos" și a fost o alegere excelentă. Meniul variat și mâncarea delicioasă au impresionat toți invitații.
                            </p>
                            <h4>- Andreea M.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
</html>


