
@{
    ViewBag.Title = "_Header";
}

<div class='container'>
    <div class='header-line'>
        <div class='header-logo'>
            <img src="~/Images/Home/logo.png" alt="">

        </div>

        <div class="nav">
            <a class='nav-item' href="/Home">ACASĂ</a>
            <a class='nav-item' href="/Menu">MENIU</a>
            <a class='nav-item' href="#">DESPRE NOI</a>
            <a class='nav-item' href="#">BRONARE</a>
        </div>
        <div class='cart'>
            <a href="#">
                <img class='cart-img' src="~/Images/Home/cart.png" alt="">
            </a>
        </div>
        <div class='phone'>
            <div class='phone-holder'>

                <div class='phone-img'>
                    <img src="~/Images/Home/phone.png" alt="">
                </div>

                <div class='number'><a class='num' href='#'>+0798-94-700</a></div>
            </div>

            <div class='phone-text'>
                Sunați pentru <br> bronare
            </div>

        </div>

        <div class='btn'>
            <a class='button' href='#'>Rezervare</a>
            <a class="button" href="/Login">Login</a>
        </div>


    </div>

    <div class="header-down">

        <div class="header-title">
            Bine ați venit în

            <div class='header-subtitle'>
                restaurantul nostru
            </div>

            <div class='header-suptitle'>
                Denumirea
            </div>

            <div class='header-bth'>
                <a href='/Menu' class='header-button'>VIZIONARE MENIU</a>
            </div>

        </div>
    </div>
</div>
