
@{
    ViewBag.Title = "_Main";
}

<div class='cards'>
    <div class='container'>

        <div class='cards-holder'>


            <div class='card'>
                <div class='card-image'>
                    <img class='card-img' src='/Images/card.png'>
                </div>


                <div class='card-title'>
                    Atmosferă&nbsp;<span> magică </span>
                </div>

                <div class='card-desc'>
                    Localul nostru are o atmosferă magică
                    plină de arome delicioase
                </div>


            </div>
            <div class='card'>
                <div class='card-image'>
                    <img class='card-img' src='/Images/card.png'>
                </div>


                <div class='card-title'>
                    Calitate înaltă a&nbsp;<span> bucatelor </span>
                </div>

                <div class='card-desc'>
                    Calitatea bucatelor noastre este excelentă!
                </div>


            </div>


            <div class='card'>
                <div class='card-image'>
                    <img class='card-img' src='/Images/card.png'>
                </div>


                <div class='card-title'>
                    Prețuri&nbsp;<span> accesibile </span>
                </div>

                <div class='card-desc'>
                    Costul bucatelor noastre depinde exclusiv de cantitatea acestora. Calitatea este întotdeauna prioritară!
                </div>


            </div>

        </div>



    </div>
</div>

<div class='history'>

    <div class='container'>

        <div class='history-holder'>

            <div class='history-info'>

                <div class='history-title'>
                    <span>Isoria</span> noastră
                </div>

                <div class='history-desc'>
                    Ca orice alt loc deosebit, avem propria noastră istorie specială. Ideea restaurantului le-a venit fondatorilor pe neașteptate. În timpul unei plimbări prin pădure, creatorul restaurantului nostru a rămas blocat la sute de kilometri de cea mai apropiată așezare. Departe de civilizație și de comunicații, a trebuit să își stabilească o viață rudimentară pentru o vreme, să își găsească și să își gătească singuri mâncarea.
                </div>

                <div class="history-number">

                    <div class='number-item'>
                        93 <span> Băuturi</span>
                    </div>

                    <div class='number-item'>
                        206 <span> Bucate</span>
                    </div>

                    <div class='number-item'>
                        71 <span> Deserturi</span>
                    </div>

                </div>

            </div>

            <div class='history-images'>
                <img class='images-1' src="/Images/1.png" alt="">
                <img class='images-2' src="/Images/2.png" alt="">
                <img class='images-3' src="/Images/3.png" alt="">
            </div>

        </div>


    </div>
</div>

<div class='black-block'>

    <div class='container'>

        <div class='block-holder'>

            <div class='left'>
                <div class='left-title'>
                    Sărbătoriți la unul dintre dintre <br> cele mai bune restaurante.
                </div>
                <div class='left-text'>
                    Doar în această lună, prânz de la 5 €
                </div>
            </div>

            <div class='right'>
                <div class='right-button'>
                    <a href='#' class='right-btn'>COMANDĂ ACUM</a>
                </div>
            </div>

        </div>

    </div>

</div>

<div class='dishes'>
    <div class='container'>
        <div class='dishes-title'>
            Preparatele <span>noastre</span>
        </div>

        <div class='burgers'>
            <div class='burgers-image'>
                <img src='/Images/pizza.png' class='pizza'>
            </div>

            <div class='burgers-items'>
                <div class='burger-item'>
                    <img src='/Images/burger.png' class='burger'>
                    <div class='burger-text'>
                        Hamburger mini --------------- 10 €
                    </div>
                </div>

                <div class='burger-item'>
                    <img src='/Images/burger.png' class='burger'>
                    <div class='burger-text'>
                        Hamburger mini --------------- 10 €
                    </div>
                </div>

                <div class='burger-item'>
                    <img src='/Images/burger.png' class='burger'>
                    <div class='burger-text'>
                        Hamburger mini --------------- 10 €
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

