@{
    Layout = null;
    ViewBag.Title = "Mulțumim";
}

<link href="~/Content/styles.css" rel="stylesheet" />

<div class="container thank-you-box">
    <h2>Mulțumim pentru aplicare!</h2>
    <p>Vă vom contacta în curând.</p>
    <a href="~/" class="back-button">Home</a>
</div>