@{
    Layout = null;
    ViewBag.Title = "Login";
}

@model eUseControl.Web.Models.User.UserLogin

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Gustos - Login Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="~/Content/stylelogin.css">
</head>
<body>
    <div class="hero">
        <div class="form-box">
            <div class="header">
                <h1>La Gustos</h1>
                <p>Autentificați-vă pentru a accesa contul</p>
            </div>
            <form id="login" class="input-group" method="post" action="@Url.Action("Index", "Menu")">
                <div class="input-container">
                    <i class="fas fa-user"></i>
                    <input type="text" class="input-field" placeholder="Introduceți numele" name="Credential" required>
                </div>
                <div class="input-container">
                    <i class="fas fa-lock"></i>
                    <input type="password" class="input-field" placeholder="Introduceți parola" name="Password" required>
                </div>
                <button type="submit" class="submit-btn">Autorizare</button>
            </form>
        </div>
    </div>
</body>
</html>
