
@{
    Layout = null;
    ViewBag.Title = "Login";
}

@model eUseControl.Web.Models.User.UserLogin

<html>
<head>
    <title>Login Registration Form</title>
    <link rel="stylesheet" href="/Content/stylelogin.css">

</head>
<body>
    <div class="hero">
        <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>
                <button type="button" class="toggle-btn" onclick="login()"> Log In </button>
                <button type="button" class="toggle-btn" onclick="register()">Register </button>
            </div>
            <div class="social-icons">
                <img src="/Images/Login/fb.png">
                <img src="/Images/Login/tw.png">
                <img src="/Images/Login/gp.png">
            </div>
            <form id="login" class="input-group">
                <input type="text" class="input-field" placeholder="Name" required>
                <input type="text" class="input-field" placeholder="Enter Password" required>
                <input type="checkbox" class="chech-box"><span>Memorează parola</span>
                <button type="submit" class="submit-btn">Autorizare</button>
            </form>
            <form id="register" class="input-group">
                <input type="text" class="input-field" placeholder="Name" required>
                <input type="email" class="input-field" placeholder="Email" required>
                <input type="text" class="input-field" placeholder="Enter Password" required>
                <input type="checkbox" class="chech-box"><span>Sunt de acord cu termenii și condițiile</span>
                <button type="submit" class="submit-btn">Înregistrare</button>
            </form>
        </div>
    </div>
    <script>
        var x = document.getElementById("login");
        var y = document.getElementById("register");
        var z = document.getElementById("btn");

        function register() {
            x.style.left = "-400px";
            y.style.left = "50px";
            z.style.left = "110px";
        }
        function login() {
            x.style.left = "50px";
            y.style.left = "450px";
            z.style.left = "0px";
        }
    </script>



</body>
</html>